<footer class="footer">
    <div class="footer-links">
        <a class="feedback-button" href="https://form.typeform.com/to/FJzZpDL4" target="_blank" rel="noopener noreferrer">
            <i class="fa-regular fa-comment"></i>
            <span>Dar feedback</span>
        </a>
        <a class="feedback-button" href="https://g.page/r/CYmi_XK0mQBBEBM/review" target="_blank" rel="noopener noreferrer">
            <i class="fa-solid fa-star"></i>
            <span>Dejar reseña</span>
        </a>
        <a class="feedback-button" href="https://www.instagram.com/armarequipos" target="_blank" rel="noopener noreferrer" title="Seguinos en Instagram">
            <i class="fa-brands fa-instagram"></i>
            <span>Instagram</span>
        </a>
        <a class="feedback-button" href="https://www.youtube.com/@armarequipos" target="_blank" rel="noopener noreferrer" title="Seguinos en YouTube">
            <i class="fa-brands fa-youtube"></i>
            <span>YouTube</span>
        </a>
    </div>
    <div class="copyright">
        <i class="fas fa-code"></i> with ❤️ by <a href="https://github.com/fedecarboni7" target="_blank">fedecarboni7</a>
    </div>
</footer>